body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.first, .second {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  transition: all 1s;
}
